body {
    background-image: url("background-blurred.jpg");
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0px;
    color: white;
}

#headers-wrapper {
 	margin-top: 25vh;
	visibility: hidden;
}

#headers-wrapper .line-separator {
	margin-left: 15%;
	margin-right: 15%;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid white;
    display: none;
}

a {
    text-decoration: none !important;
    color: inherit;
}

#navBar {
    margin: 0;
    padding: 0;
    background-color: #1B1B1B;
    top: 0px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.nav-item {
    float: right;
}

.nav-item a {
    display: block;
    color: white !important;
    text-align: center;
    padding: 14px 16px;
    transition: all .3s ease;
}

.nav-item a:hover {
    background-color: white !important;
    color: #1B1B1B !important;
}

.name-header {
    color: #1B1B1B;
    text-align: center;
}

.sub-header {
    color: #1B1B1B;
    text-align: center;
	font-family: Gotham,Helvetica,Arial,sans-serif;
	text-transform: uppercase;
}

#icon {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
	width: 80%;
    border: 7px solid #383838;
}

.about-text-wrapper {
	display: inline-block;
	width: 60%;
	vertical-align: top;
}

.about-image-wrapper {
	width: 40%;
	display: inline-block;
	float: right;
}

b {
	font-weight: bolder;
}

p {
	font-size: 1.5vw;
	line-height: 1.8;
}

.section {
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 50px;
    font-family: 'PT Sans', sans-serif;
}

.section.one {
    background-color: rgba(236, 240, 241, 0.5);
    color: black;
}

.section.two {
    background-color: #1B1B1B;
}

.footer {
    background-color: #1B1B1B;
    height: auto;
    margin: 0;
    padding: 10px;
    font-family: 'PT Sans', sans-serif;
}

.github-icon {
    background-image: url('github-hover.png');
    height: 48px;
    width: 48px;
    margin: 10px;
    float: left;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.github-icon:hover {
    background-position: 0px -48px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.8);
}

.linkedin-icon {
    background-image: url('linkedin-hover.png');
    height: 48px;
    width: 48px;
    margin: 10px;
    float: left;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.linkedin-icon:hover {
    background-position: 0px -48px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.8);
}

.facebook-icon {
    background-image: url('facebook-hover.png');
    height: 48px;
    width: 48px;
    margin: 10px;
    float: left;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.facebook-icon:hover {
    background-position: 0px -48px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.8);
}

.stackoverflow-icon {
    background-image: url('stackoverflow-hover.png');
    height: 48px;
    width: 48px;
    margin: 10px;
    float: left;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.stackoverflow-icon:hover {
    background-position: 0px -48px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.8);
}

.email-icon {
    background-image: url('email-hover.png');
    height: 48px;
    width: 48px;
    margin: 10px;
    float: left;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.email-icon:hover {
    background-position: 0px -48px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.8);
}

.block-btn {
    display: block;
    width: 100%;
    min-height: 100px;
    overflow: hidden;
    color: black;
    position: relative;
    background: #BDC3C7;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    overflow: hidden;
    transition: background-color .5s linear
}

.block-btn:focus, .block-btn:hover {
    background: #ECF0F1;
    transition: all .3s ease
}

.block-btn:focus .text, .block-btn:hover .text {
    opacity: 0;
    visibility: hidden;
    transform: translate3D(0, 4em, 0) scale(.25)
}

.block-btn:focus .icon, .block-btn:hover .icon {
    opacity: 1;
    visibility: visible;
    transform: translate3D(0, 0, 0) scale(1)
}

.block-btn .icon, .block-btn .text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.block-btn .text {
    margin: 40px auto;
    opacity: 1;
    visibility: visible;
    transition: transform .4s cubic-bezier(.425, -.195, .005, 1.215), opacity .13333s linear;
    transform: scale(1)
}

.block-btn .icon {
    width: 50px;
    margin: 25px auto;
    opacity: 0;
    visibility: hidden;
    transition: transform .4s cubic-bezier(.425, -.195, .005, 1.215), opacity .4s linear;
    transform: translate3D(0, -4em, 0) scale(0)
}

.skills-heading {
    text-transform: uppercase;
    font-weight: 700;
}

.skills-item {
    display: inline-block;
    border: 2px solid rgba(57, 57, 57, .5);
    border-radius: 50%;
    text-align: center;
    margin: 10px 10px 10px 0;
    padding: 0;
    width: 100px;
    height: 100px;
    line-height: 7;
    font-size: 14px;
    overflow: hidden;
}

@media only screen and (max-width:1170px) {
    .skills-item {
        width: 80px;
        height: 80px;
        font-size: 14px;
        line-height: 5.5;
        margin: 5px 5px 5px 0
    }
}

@media only screen and (max-width:768px) {
    .skills-item {
        width: 100px;
        height: 100px;
        line-height: 7;
        margin: 1%
    }
}

@media only screen and (max-width:480px) {
    .skills-item {
        width: 80px;
        height: 80px;
        line-height: 5.5
    }
}

#projects-section {
    padding: 50px;
}

.project {
    margin: 0;
    display: block;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 3px;
    padding: 10px;
}

.screenshots {
    position: relative;
    overflow: hidden;
    display: block;
    margin-bottom: 15px;
    width: 98%
}

.screenshots img {
    object-fit: contain;
    border: 0;
    width: 100%;
    max-height: 80vh;
    border-radius: 3px;
}

.carousel-item {
    height: 100% !important;
}

.project-title-container {
    position: relative;
    width: 98%;
    align-items: baseline;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-content: stretch;
}

.project-title {
    text-transform: uppercase;
    flex: 1;
    font-family: 'PT Sans', sans-serif;
	font-weight: bold;
    margin-bottom: 30px;
}

.project-title-buttons a {
    padding: 10px 15px;
    background: 0 0;
    border: 2px solid #1B1B1B;
    border-radius: 3px;
    margin: 0 5px;
    color: #1B1B1B;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    transition: all .3s ease;
    display: inline-block;
    text-decoration: none;
}

.project-title-buttons a:hover {
    background-color: #1B1B1B;
    color: white;
}

.project-description {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.1em;
}

.project-description a {
    text-decoration: underline !important;
}

.line-separator {
    height: 1px;
    border: 1px solid;
    margin-top: 30px;
    margin-bottom: 30px;
}

.section.one.line-separator {
    background: #1B1B1B;
}

.section.two.line-separator {
    background: white;
}

.tags {
    display: block;
    width: 95%;
    font-family: 'PT Sans', sans-serif;
	font-weight: bold;
    margin-bottom: 30px;
}

.tags-list {
    list-style: none;
    padding: 0;
}

.tags-list-item {
    display: inline-block;
    padding: 5px 5px 5px 5px;
    margin-right: 5px;
    border: 1.5px solid #1B1B1B;
    color: #1B1B1B;
    background: 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all .3s ease;
}

.tags-list-item:hover {
    color: white;
    background: #1B1B1B;
}

.social-item {
    display: inline-block;
}

#contactForm {
    width: 100%;
}

#feedback-page {
    text-align: center;
}

#form-main {
    width: 100%;
    float: left;
    padding-top: 0px;
}

#form-div {
    background-color: rgba(72, 72, 72, 0.4);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 50px;
    width: 450px;
    float: left;
    left: 50%;
    position: absolute;
    margin-top: 30px;
    margin-left: -260px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.feedback-input {
    color: #3c3c3c;
    font-family: 'PT Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
    background: #fff;
    box-shadow: 0;
    border: 3px solid #1B1B1B;
    color: #1B1B1B;
    outline: none;
    padding: 13px 13px 13px 54px;
}

.focused {
    color: #30aed6;
    border: #30aed6 solid 3px;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    background-color: white;
}

#button-blue {
font-family: 'PT Sans', sans-serif;
    float: left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor: pointer;
    background-color: #1B1B1B;
    color: white;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

#button-blue:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #1B1B1B;
}

.submit:hover {
    color: #1B1B1B;
}

.ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

.submit:hover .ease {
    width: 100%;
    background-color: white;
}

@media only screen and (max-width: 580px) {
    #form-div {
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}

.timeline {
    color: white;
}

.timeline ul {
    padding: 50px 0;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #1B1B1B;
}

.timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #1B1B1B transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -439px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #1B1B1B;
}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
    transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: #1B1B1B;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }
    .timeline ul li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }
    .timeline ul li div {
        width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div {
        left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #1B1B1B transparent transparent;
    }
}

.timeline-date, .timeline-name {
    font-weight: bold;
}

.timeline p {
    font-size: initial;
    line-height: initial;
}
